{% extends 'main/layout.html' %}

{% block title %}
    web
{% endblock %}

{% load static %}
{% block body %}
<div class="container">
	<div class="card">
	  <div class="card__body">
		<div class="card__image"><img src="{%static 'main/img/image1.jpg'%}" alt="squirrel"></div>
		 <div class="card__title">Home page</div>
		 <div class="card__subtitle">------------</div>
		 <div class="card__text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta,
			voluptas?
		 </div>
	  </div>
	</div>
 </div>
{% endblock %}