{% extends 'main/layout.html' %}

{% block title %}
    web
{% endblock %}

{% load static %}
{% block body %}
<div class="container">
	<div class="card">
	  <div class="card__body">
		<div class="card__image"><img src="{%static 'main/img/image3.jpg'%}" alt="squirrel"></div>
		 <div class="card__title">It is our shop</div>
		 <div class="card__subtitle">----------</div>
		 <div class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veritatis.</div>
	  </div>
	</div>
 </div>
{% endblock %}