{% extends 'main/layout.html' %} {% block title %} {{article.title}} {% endblock%} {% load static %} {% block body %}
<div class="details">
  <div class="container">
	<div class="details__body">
    <div class="details__title">{{article.title}}</div>
    <div class="details__date">{{article.date}}</div>
    <div class="fullText">{{article.fullText}}</div>
    <div class="details__buttons">
      <a href="{% url 'newsDelete' article.id%}"><button class="button details__delete">Delete</button></a>
      <a href="{% url 'newsUpdate' article.id%}"><button class="button details__edit">Edit</button></a>
    </div>
  </div>
  </div>
</div>

{% endblock %}
