{% extends 'main/layout.html' %} {% block title %} website news {% endblock %}
{% load static %} {% block body %}
<div class="container">
  {%if not news%}
  <div class="news__error">You do not have news</div>
  {%endif%}
  <div class="create"><a href="{%url 'newsCreate'%}">Create news</a></div>
  {%if news%}
  <div class="news">
    {%for el in news%}
    <div class="news__body">
      <div class="news__title">{{el.title}}</div>
      <div class="news__announcement">{{el.announcement}}</div>
      <div class="news__text">{{el.fullText}}</div>
      <div class="news__date">{{el.date}}</div>
      <button class="news__button button">
        <a href="{% url 'newsDetail' el.id%}">Read more</a>
      </button>
    </div>
    {%endfor%}
  </div>
  {%endif%}
</div>
{% endblock %}
