/* main news page  */

.news {
	font-family: 'Manrope', sans-serif;
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0px;
	gap: 40px;
	justify-content: space-between;
}
.news__body {
	flex: 0 1 45.5%;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 40px;
	border: 1px solid #000;
}
.news__title {
	font-size: 36px;
	font-weight: 700;
}
.news__announcement {
	font-weight: 500;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;

}
.news__text {
	flex: 1 1 auto;
	display: flex;
	line-height: 20px;
	max-height: 140px;
	overflow: auto;
}
.news__date {
	border-top: 1px solid #000;
	padding-top: 10px;
	font-weight: 500;
}
.news__error {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	font-family: 'Manrope', sans-serif;
	margin-top: 40px;
}

.create {
	margin: 40px 0px;
	font-family: 'Manrope', sans-serif;
	font-size: 20px;
	padding: 10px 40px;
	font-weight: 700;
	text-align: center;
	background: rgb(216, 172, 172);
	font-weight: 700;
	color: #fff;
}
.create:hover {
	background: rgb(189, 147, 147);
	transition-duration: 0.5s;
}


/* form for adding news  */

.form {
	font-family: 'Manrope', sans-serif;
	border: 1px solid grey;
	max-width: 500px;
	margin: 40px auto;

}
.form__body {
	max-width: 250px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}
.form__name{
	font-size: 20px;
	font-weight: 700;
}
.form__title {
}
.form__announcement {
}
.form__text {
}
.form__time {
	display: flex;
	flex-direction: column;
	gap: 20px
}
.form__input{
	max-width: 250px;
	height: 30px;
	border: 1px solid rgb(167, 167, 167);
	border-radius: 5px;
	background-color: #e6e6e6;
	padding: 0px 10px;
	font-size: 20px;
}
.form__textarea{
	max-width: 250px;
	min-width: 250px;
	max-height: 200px;
	min-height: 200px;
}
.form__buttons {
	display: flex;
	justify-content: space-between;

}
.form__button {
	font-size: 16px;
	padding: 10px 30px;
	background: #e6e6e6;
}

/* button  */
.news__button {
}
.button {
	width: 140px;
	height: 35px;
	border-radius: 10px;
	background: rgb(216, 172, 172);
	color: #fff;
	font-weight: 700;
}
.button:hover{
	background: rgb(189, 147, 147);
	transition-duration: 0.5s;
}


/* details  */
.details {
	margin: 40px 0px;
	font-family: 'Manrope', sans-serif;
}
.details__body{
	max-width: 500px;
	margin: 0px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;

}
.details__title {
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.details__date {
	font-size: 16px;
	font-weight: 500;
}
.fullText {
	line-height: 20px;
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.details__buttons {
	display: flex;
	gap: 20px;
	justify-content: center;
}

/* delete  */

.delete__button{
	width: 100%;
}